form {
    margin-bottom: 0px;
}

.visszaigazolas {
    background-color: rgb(220, 220, 240);
    width: 400px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

input {
    border-radius: 0px;
    border: rgb(77, 77, 77) 1px solid;
}

label, input {
    margin-bottom: 10px;
}

h3 {
    background-color: white;
    width: 170px;
    font-size: 25px;
    margin: -30px auto -25px auto;
}

#elkuld {
    width: 250px;
    height: 40px;
    margin: 20px;
    font-size: 20px;
}

.visszaigazolas div{
    display: inline-block;
}